Others_Agent/Main_Workflow_To_Whatsapp.json
{
  "name": "Assistente Syan - Whatsapp",
  "nodes": [
    {
      "parameters": {
        "content": "## Entrada",
        "height": 440,
        "width": 504,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        144
      ],
      "typeVersion": 1,
      "id": "0ea4230e-c252-40cd-98ed-7f0cc01ebc14",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "inputText": "=Responda apenas com a palavra:\"livros\", \"nada\"\n\nMensagem:\n{{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}\nVocê vai receber uma mensagem de um usuário.\n\nClassifica a intenção da mensagem com base nas opções abaixo:\n- \"leis\": Se o usuário estiver Pedido informações sobre leis ou Consultando Informações De algum livro de lei.\n- \"Faculdade\": Se o usuário perguntar algo sobre curso, universidade, faculdade\n- \"Finanças\": Se o usuário estiver Consultando Uma conta ou pedindo para acrescentar uma nova conta, informando registro de uma nova conta, ou ainda se o usuário estiver pedindo para deletar uma conta\n- \"Nada\": Se o texto do usuário não tiver relação com leis, curso, universidade, faculdade",
        "categories": {
          "categories": [
            {
              "category": "Comida",
              "description": "=Se o usuário estiver falando sobre comida ou tiver mandado uma foto sobre alimento"
            },
            {
              "category": "Nada",
              "description": "=Se o texto do usuário enviar mensagem apeenas de comprimento ou não tiver relação com leis, curso, universidade, faculdade."
            },
            {
              "category": "leis",
              "description": "=Se o usuário estiver Pedido informações sobre leis ou Consultando Informações De algum livro de lei."
            },
            {
              "category": "Faculdade",
              "description": "=Se o usuário perguntar algo sobre curso, universidade, faculdadeSe o usuário estiver Consultando Uma conta ou pedindo para acrescentar uma nova conta, informando registro de uma nova conta, ou ainda se o usuário estiver pedindo para deletar uma conta"
            },
            {
              "category": "Finanças",
              "description": "=Se o usuário estiver Consultando Uma conta ou pedindo para acrescentar uma nova conta, informando registro de uma nova conta, ou ainda se o usuário estiver pedindo para deletar uma conta"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1088,
        304
      ],
      "id": "ed983250-84b8-4481-8328-fdf04f13c2c8",
      "name": "Text Classifier",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        544
      ],
      "id": "5a76beec-9645-4b01-a125-8598c74ca3de",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2579c46d-780a-4d3c-87e8-f54f9de43cf8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        304
      ],
      "id": "465c28b3-1628-44bd-90e0-3837fb924774",
      "name": "Webhook",
      "webhookId": "2579c46d-780a-4d3c-87e8-f54f9de43cf8"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        304
      ],
      "id": "b5a8299b-250a-48e5-b5b3-f476efecea3a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "192efbe4-74b3-44a9-85dd-2f420cd7d17a",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        400
      ],
      "id": "d2fdea83-aec7-4bf7-bb58-55b33dcf3af2",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "192efbe4-74b3-44a9-85dd-2f420cd7d17a",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        640
      ],
      "id": "74d1e992-fcf5-4a3f-9ebc-6d4c505d838a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Classificação",
        "height": 456,
        "width": 408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        224
      ],
      "typeVersion": 1,
      "id": "29471336-4b01-47bd-b911-a30c4d199164",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "192efbe4-74b3-44a9-85dd-2f420cd7d17a",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        880
      ],
      "id": "072324be-5dee-4e1b-920b-f755f19bc0b8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YMULQStclH6yXvyT",
          "mode": "list",
          "cachedResultName": "instagram Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        448
      ],
      "id": "aef84f67-e78f-4e86-847c-3084c089e8e7",
      "name": "Execute Workflow3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbf00aac-8a27-464e-a153-2fac629246d9",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "=556493174450@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        192
      ],
      "id": "cb15cf45-2487-4e00-8bca-0a4201464cef",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## From whatsapp",
        "height": 240,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "721ab15f-d9d8-4201-a2d4-d279cf197c6c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## From Instagram",
        "height": 240,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        368
      ],
      "id": "24415004-a9f1-4058-82bc-1ea4487028e8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.message.imageMessage.mimetype }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "8912596e-7286-4ac9-92d8-575141a4ee11"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "has_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "293de565-6c62-4145-9eb9-f50ee9aec56c",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "has_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        336
      ],
      "id": "71fd2602-8efd-4e66-a8be-1eb49ec1a63b",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1840,
        -176
      ],
      "id": "1aa0d202-5bb8-461d-b01f-68a91ba7fe1d",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KwXyyww9IdVIM3xy",
          "mode": "list",
          "cachedResultName": "agent_nutricionista"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        -176
      ],
      "id": "b35d87a6-12f6-4be4-862c-14cd38305941",
      "name": "Execute nutricionista"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JjiUJfJWW8S2MQnM",
          "mode": "list",
          "cachedResultName": "Rag_principais_leis_Brasil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        400
      ],
      "id": "90aaebd0-7441-4a28-a5fc-35c4c2b3175e",
      "name": "Execute leis"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uwshHj2XaCycus8c",
          "mode": "list",
          "cachedResultName": "Rag_universidade_federal_de_jataí"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        640
      ],
      "id": "08a0a694-f808-4ae3-aaa8-6b11a8576435",
      "name": "Execute universidade"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8XaUBkcQj4fOkP6",
          "mode": "list",
          "cachedResultName": "Monitoramento_financeiro_main"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        880
      ],
      "id": "36992b2c-d15e-4f71-99dd-b68471c122bb",
      "name": "Execute finanças"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "192efbe4-74b3-44a9-85dd-2f420cd7d17a",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -96
      ],
      "id": "834a91b8-f161-403f-a28a-cedf361feb81",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Nutricionista",
        "height": 240,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -192
      ],
      "id": "7a427994-875c-4630-907c-79f9afe743cc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Laws Agent",
        "height": 224,
        "width": 592,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        336
      ],
      "id": "cc35064f-4f3f-4c1f-8083-67d505601e06",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## University Agent",
        "height": 224,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        576
      ],
      "id": "12959127-cc5b-4d7f-8f33-733edab44e1a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Finance Agent",
        "height": 208,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        832
      ],
      "id": "d760e23d-ba91-47cc-abe5-f2870bf5bcbb",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b57daab-86c7-4252-8ed9-6e69ff2adc5a",
              "leftValue": "={{ $json.headers['user-agent'] }}",
              "rightValue": "axios/1.10.0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        304
      ],
      "id": "a8c38974-db6b-45e7-ae64-dbcf3fe949a3",
      "name": "Where"
    },
    {
      "parameters": {
        "content": "## What's have in message ?",
        "height": 272,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        224
      ],
      "id": "6c44433f-37bd-45db-94b6-f5439eae2d6d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1840,
        400
      ],
      "id": "a0f9848d-4e78-4d4e-aeb9-c1af798172f3",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1856,
        640
      ],
      "id": "ee084659-6211-4084-b419-89f2b7054689",
      "name": "Enviar texto2",
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1856,
        880
      ],
      "id": "abee2274-3b15-4096-8467-d4907c825f85",
      "name": "Enviar texto3",
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $json.body.data.key.remoteJid }}",
        "messageText": "=Um minuto !!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        800,
        48
      ],
      "id": "cc0c6ae4-f143-4e17-a8f2-116bf5722730",
      "name": "Confirm_execution",
      "alwaysOutputData": false,
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Confirme execution",
        "height": 240,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -32
      ],
      "id": "b4b1367f-8ac6-4463-bba4-85b3c6661f14",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Refusal to execute because of the number",
        "height": 272,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        512
      ],
      "id": "8603223b-e899-49e5-971d-214ec784907b",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $json.body.data.key.remoteJid }}",
        "messageText": "=Desculpa, número não registrado na base de dados !!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        800,
        624
      ],
      "id": "be06ae30-85c5-4629-96d6-d4d80da1b4d1",
      "name": "Refuses_execution",
      "alwaysOutputData": false,
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "=Em manutenção po Diego S. Borges",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1152,
        800
      ],
      "id": "f83f403f-b93d-4fe1-a4d1-42f03f5996e1",
      "name": "Enviar texto4",
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "whatsapp-diego",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "=Serviços diponíveis:\n* Finanças.\n* Alimentação.\n* Consultar sobre leis\n* Consultar documentos da UFJ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1520,
        144
      ],
      "id": "091c2401-a803-4ae4-92e8-f425ebbc0ae8",
      "name": "Enviar texto5",
      "credentials": {
        "evolutionApi": {
          "id": "vbPnQEogyuAhn792",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tutorial",
        "height": 224,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        80
      ],
      "id": "8d574d70-daa8-4cf6-a092-b4f25c99589b",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Maintenance",
        "height": 336,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        704
      ],
      "id": "e4ad83e9-170e-4efa-ade8-84b1fdedc788",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n-diego.dsbdocker.shop",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "172.18.0.1",
            "x-real-ip": "172.18.0.1",
            "content-length": "1985",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.10.0",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "whatsapp-diego",
            "data": {
              "key": {
                "remoteJid": "556493174450@s.whatsapp.net",
                "fromMe": false,
                "id": "AC8517C2D8DB6A84F643433BA4FF46AC"
              },
              "pushName": null,
              "status": "DELIVERY_ACK",
              "message": {
                "imageMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7118-24/550451655_2578193495913690_3605185391574017245_n.enc?ccb=11-4&oh=01_Q5Aa2gG0cQm_85wuesFYv4v3zwKBc8T_tp8BD-wf1ZsY5JgSqA&oe=68F1AC63&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "image/jpeg",
                  "fileSha256": "lFGNBRoeyb51fqtGfn3ote2my01Zl+DkBw+rcc6b04Y=",
                  "fileLength": "173636",
                  "height": 817,
                  "width": 1075,
                  "mediaKey": "YXu2GsGla20XOsBh4qcMOuPUFsH/oHPGYZmRMJiDE8I=",
                  "fileEncSha256": "fI6U2oq0ZTnf0r5AY2WHa/lEXK0oEmJwG8oINR7FAmc=",
                  "directPath": "/v/t62.7118-24/550451655_2578193495913690_3605185391574017245_n.enc?ccb=11-4&oh=01_Q5Aa2gG0cQm_85wuesFYv4v3zwKBc8T_tp8BD-wf1ZsY5JgSqA&oe=68F1AC63&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1758075316",
                  "contextInfo": {
                    "expiration": 7776000,
                    "ephemeralSettingTimestamp": "1731805198",
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT",
                      "trigger": "ACCOUNT_SETTING",
                      "initiatedByMe": true
                    },
                    "pairedMediaType": "NOT_PAIRED_MEDIA",
                    "statusSourceType": "IMAGE"
                  },
                  "scansSidecar": "1q9B/F6xWk/O2jTnMhjen5VnxcZBBZFwPORaWj/hzNl+roGnD73UAw==",
                  "scanLengths": [
                    12613,
                    78371,
                    33484,
                    49168
                  ],
                  "midQualityFileSha256": "MZDk0DUwMbIy0YJEaiJ3kvy6wrePT0On+tXy61AAdko="
                }
              },
              "contextInfo": {
                "expiration": 7776000,
                "ephemeralSettingTimestamp": "1731805198",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "ACCOUNT_SETTING",
                  "initiatedByMe": true
                },
                "pairedMediaType": "NOT_PAIRED_MEDIA",
                "statusSourceType": "IMAGE"
              },
              "messageType": "imageMessage",
              "messageTimestamp": 1758076853,
              "instanceId": "d8a5e6c8-d55e-4520-afa0-b478dddce3d1",
              "source": "android"
            },
            "destination": "https://n8n-diego.dsbdocker.shop/webhook/2579c46d-780a-4d3c-87e8-f54f9de43cf8",
            "date_time": "2025-09-16T23:41:01.646Z",
            "sender": "556496538016@s.whatsapp.net",
            "server_url": "https://debianserver.tail4dd07c.ts.net/evolution/",
            "apikey": "F7F37AF3F173-4309-9ED5-C8384E69CE8D"
          },
          "webhookUrl": "https://n8n-diego.dsbdocker.shop/webhook/2579c46d-780a-4d3c-87e8-f54f9de43cf8",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Where",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Execute leis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute universidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Execute finanças",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirm_execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refuses_execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute nutricionista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute nutricionista": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute leis": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute universidade": {
      "main": [
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute finanças": {
      "main": [
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute nutricionista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Where": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "errorWorkflow": "pg8ALIIg5c67G45X",
    "timeSavedPerExecution": 5
  },
  "versionId": "44b21331-bdf1-4064-94bc-619b193cf356",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "0taP4dLADNyqcUiC",
  "tags": []
}