ETL_Agent/Email-classifier/Classificador_de_email_pessoal_google_agenda.json
{
  "name": "Classificador_de_email_pessoal_principal",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            },
            {}
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1632,
        1088
      ],
      "id": "735bf193-8d3a-4b0e-87cb-c7a26d91f715",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1408,
        1296
      ],
      "id": "1f66e289-ddf6-4082-af41-55e140ceb2e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4614296012528125380"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -320,
        432
      ],
      "id": "a31fabc1-bdf0-4df7-bc39-4df4f25af800",
      "name": "Add label to message",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_347620088231253684"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -336,
        1056
      ],
      "id": "14110072-e7de-4c4a-b7a1-488035813b31",
      "name": "Add label to message1",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4003378466229826748"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        1520
      ],
      "id": "4086b50d-b04f-48b2-bb22-5fe0c7922c6b",
      "name": "Add label to message2",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        1536
      ],
      "id": "ae295fb7-c465-4b79-a7e6-412bb70bc1f8",
      "name": "Add label to message3",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        1536
      ],
      "id": "c80a10e3-6641-46de-ad3d-bc14dab52f35",
      "name": "Mark a message as read",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        1200
      ],
      "id": "5d4d5d0c-1f36-44ab-9177-91b79c4fbe4f",
      "name": "Mark a message as read1",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        1216
      ],
      "id": "e2a281f4-f805-4284-b466-05e3de6cbdf1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        1520
      ],
      "id": "99886dd9-16c1-4ce3-963e-9a497248bac7",
      "name": "Mark a message as read2",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        624
      ],
      "id": "b9feaa67-8c0a-4b7c-bc4a-563d14b0e4c0",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Título: {{ $json.headers.subject }}\n\nTexto: {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Estudos",
              "description": "E-mails relacionados ao ciclo de vida do aluno em cursos, eventos e workshops. Incluem confirmação de inscrição, boas-vindas, avisos e links de acesso para aulas, instruções sobre processos seletivos e informações sobre certificados.\n\nPalavras-chave que ajudam na classificação: aula, curso, inscrição, certificado, link, aluno, participante, plataforma, Zoom, agendamento, módulo, projeto, documentação, seleção, horário"
            },
            {
              "category": "Finanças",
              "description": "E-mails sobre transações financeiras e movimentações de conta. Incluem confirmações de pagamento, avisos de transferência, recibos de compra, cupons fiscais e lembretes de faturas em aberto ou cobranças.  \n\nPalavras-chave que ajudam na classificação: fatura, pagamento, transferência, compra, doação, pix, boleto, valor, R$, vencimento, cobrança, cupom, recibo, nota fiscal, confirmado"
            },
            {
              "category": "Itens salvos",
              "description": "E-mails usados como arquivo ou backup pessoal, enviados pelo próprio usuário (Diego Sousa, Diego Borges) ou por familiares (Cidasousals, Maisa Faria, nascimento123). Caracterizam-se por ter pouco ou nenhum texto e um título simples como \"Salvar\", com o foco principal no arquivo anexado.  \nPalavras-chave que ajudam na classificação: Salvar, anexo, documento, arquivo, pdf, comprovante, foto, imagem, cópia, scan, Fwd, Enc, certificado"
            },
            {
              "category": "Arquivo morto",
              "description": "E-mails automáticos de empresas, serviços e aplicativos. Incluem newsletters, promoções, pesquisas de satisfação, códigos de verificação de uso único, lembretes de apps, ofertas e comunicados gerais como atualizações de termos de uso ou editais, demais e-mails de confirmação de login, lembrete de estudo duolingo. \nPalavras-chave que ajudam na classificação: newsletter, promoção, oferta, bônus, desconto, pesquisa, código, verificação, lembrete, edital, comunicado, termos de uso, assine, aproveite, não perca, cancelar inscrição, confirme seu dispositivo, Duolingo."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1408,
        1040
      ],
      "id": "4fdb85d4-b8ff-46a7-86cb-7b46a618620e",
      "name": "Classificador principal",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputText": "=Título: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nTexto: {{ $('Gmail Trigger').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Pagamento Futuro",
              "description": "E-mails que representam uma obrigação financeira futura, como contas, faturas ou boletos que precisam ser pagos. A característica principal é a presença de uma data de vencimento futura e um valor a ser pago, diferenciando-se de recibos ou confirmações de pagamentos já realizados.\n\nPalavras-chave que ajudam na classificação: vencimento, fatura, sua conta, boleto, vence em, a pagar, código de barras, pague com, valor a pagar, disponível para pagamento."
            },
            {
              "category": "Comprovantes e Pagamentos Realizados",
              "description": " E-mails que servem como um registro ou prova de uma transação financeira que já foi concluída. Incluem confirmações de pagamentos efetuados, recibos de compra, notas fiscais eletrônicas (NFC-e) e avisos de depósitos recebidos ou confirmação de cashback. \n\nA principal característica é que eles documentam uma ação passada e servem como comprovante.  Palavras-chave que ajudam na classificação: pagamento confirmado, recebeu seu pagamento, compra aprovada, recibo, cupom, nota fiscal, NFC-e, você depositou, comprovante, transação realizada, pagamento efetuado, cashback."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -176,
        1056
      ],
      "id": "41a98330-b759-427e-a881-c98e06ad6d1e",
      "name": "Classificador de finanças"
    },
    {
      "parameters": {
        "inputText": "=Título: {{ $('Gmail Trigger').item.json.headers.subject }}\nTexto: {{ $('Gmail Trigger').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Futuro",
              "description": "E-mails que funcionam como lembretes para eventos com data e hora marcadas, como aulas ao vivo, lives, webinars ou workshops. São caracterizados pela urgência e por conterem um link de acesso para participação imediata ou em um futuro muito próximo (mesmo dia ou dia seguinte).\n\nPalavras-chave que ajudam na classificação: hoje, amanhã, agora, ao vivo, daqui a pouco, às, live, webinar, link de acesso, Zoom, participe, não perca, lembrete, é hoje, começa em, estamos ao vivo."
            },
            {
              "category": "Entrega e Disponibilidade de Certificados",
              "description": "E-mails enviados após a conclusão de um curso ou evento, com o objetivo de entregar o certificado de participação. A entrega acontece de duas maneiras: com o documento diretamente em anexo para download, ou através de um link e instruções para acessá-lo em uma plataforma.|Palavras-chave que ajudam na classificação: certificado, certificados, seu certificado, disponível, conclusão, parabéns, baixar, download, plataforma, em anexo, completou o curso."
            },
            {
              "category": "Confirmação de Inscrição e Engajamento",
              "description": "Outros que não se enquadram nas categorias listadas acima, engloba a isso: e-mails que confirmam a inscrição em um curso ou evento, mas sem a data ou link de acesso final. O objetivo é dar as boas-vindas e solicitar uma ação secundária para engajar o participante, como responder a uma pesquisa ou confirmar o recebimento de futuros comunicados.|Palavras-chave que ajudam na classificação: inscrição confirmada, parabéns, seja bem-vindo, próximos passos, sua vaga está garantida, pesquisa, responda este e-mail, grupo, comunidade, o que esperar, sua inscrição foi realizada."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -160,
        416
      ],
      "id": "a31d69d1-44e1-4a14-b517-2ae71357a5a8",
      "name": "Classificador de estudos"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        560
      ],
      "id": "35bd7b11-136b-4caf-87fe-f297730947a6",
      "name": "Mark a message as read3",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        576
      ],
      "id": "436061a9-8c96-45ff-8026-fc2364d9ba85",
      "name": "Mark a message as read4",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A seguir você receberá o conteúdo de um e-mail sobre um evento. Extraia os seguintes Campos:\n\n- titulo: O nome principal do evento, aula ou live. Seja o mais conciso possível.\n- data: A data e hora de início do evento. Se o e-mail mencionar termos como \"hoje\" ou \"amanhã\", use a \"Data de hoje\" como referência para o cálculo. O formato final deve ser AAAA-MM-DD. Se nenhuma data for encontrada, retorne null.\n- hora: A hora de início do evento.Se o e-mail mencionar termos como \"agora\" ou \"daqui a pouco\", use a \"Hora atual\".O formato final deve ser HH:mm:ss. Se nenhuma data for encontrada, retorne 07:00:00\n- link: O link de acesso para o evento (Zoom, YouTube, etc.). Se não houver, retorne \"Não disponível\".\n- categoria: O tipo do evento (ex: Aula, Live, Webinar, Reunião, Pessoal). Se não for possível identificar, use a categoria \"Evento\".\n- resumo: Uma frase de aviso para ser enviada por um assistente. A mensagem deve avisar sobre a aula de forma simpática e objetiva, como se fosse enviada por WhatsApp, citando o título e a data do evento.\n\n--- CONTEÚDO DO E-MAIL ---\nAssunto: {{ $('Gmail Trigger').item.json.headers.subject }}\nCorpo: {{ $('Gmail Trigger').item.json.text }}\n\nData de hoje (para referência):\n{{ $now }}\nHora atual (para referência):\n{{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente de produtividade e agendamento. Seu papel é interpretar e-mails sobre eventos, aulas e lives para extrair os dados essenciais (título, data, hora, link) de forma estruturada, com o objetivo de criar um evento automaticamente no calendário.\nCaso o texto informe proxima semana, calcular a data atual mais 7 dias.\nAlém disso, você deve gerar uma frase de confirmação no campo \"resumo\". Esta frase deve ter um tom simpático e direto, como um assistente pessoal respondendo por mensagem. O texto deve avisar que terá um evento, citando o título e a data/hora do evento. Escreva a frase em uma única linha, sem quebras de linha."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        336,
        256
      ],
      "id": "63f3ad18-6ebe-49a2-927d-298078b54b50",
      "name": "Agent_to_insert"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"titulo\": \"Aula 4: Agente de IA para leitura de documentos\",\n  \"data\": \"2025-07-15\",\n  \"hora\": \"20:00:00\",\n  \"link\": \"https://us06web.zoom.us/meeting/register/b7D1HlEAQRy-706zW8nyWQ\",\n  \"categoria\": \"Aula\",\n  \"resumo\": \"Sua 'Aula 4: Agente de IA' está marcada para o dia 15/07 às 20:00. Bons estudos! 🚀\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        416
      ],
      "id": "8769c8cf-5017-421a-b658-b544232fae5c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        432
      ],
      "id": "37fa32ed-9152-47a2-8bc0-64ea1d585a72",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "diegosousa977@gmail.com",
          "mode": "list",
          "cachedResultName": "diegosousa977@gmail.com"
        },
        "start": "={{ DateTime.fromISO($json.output.data + \"T\" + $json.output.hora).toISO() }}",
        "end": "={{ DateTime.fromISO($json.output.data + \"T\" + $json.output.hora).plus({hours: 1}).toISO() }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ $json.output.resumo }}\n\nLink de acesso: {{ $json.output.link }}",
          "summary": "={{ $json.output.titulo }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 120
            },
            {
              "method": "popup",
              "minutes": 1440
            },
            {
              "method": "popup",
              "minutes": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        704,
        192
      ],
      "id": "d88e2e04-6350-4ce3-9a19-87a299bd8241",
      "name": "Create an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wYHbsxdf3AuOr8xY",
          "name": "Google Calendar D977"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"descricao\": \"Conta de Luz Equatorial\",\n  \"valor\": 188.77,\n  \"data_vencimento\": \"2025-07-02\",\n  \"categoria\": \"Moradia\",\n  \"resumo\": \"Lembrete: Sua 'Conta de Luz Equatorial' no valor de R$188,77 vence no dia 02/07/2025. Não se esqueça! 💡\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        1072
      ],
      "id": "fe8e1ce7-abdb-42eb-b529-f20130d9e1fe",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        1056
      ],
      "id": "5d614808-90ec-4c9d-a102-965830138394",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "diegosousa977@gmail.com",
          "mode": "list",
          "cachedResultName": "diegosousa977@gmail.com"
        },
        "start": "={{ $json.output.data_vencimento }}",
        "end": "={{ $json.output.data_vencimento }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "allday": "yes",
          "description": "={{ $json.output.resumo }}\n\nLembre-se a data máxima de pagamento é: {{ $json.output.data_vencimento }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        624,
        848
      ],
      "id": "6e0bb7f0-2212-4c5b-ba33-566d1ee9809f",
      "name": "Create an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wYHbsxdf3AuOr8xY",
          "name": "Google Calendar D977"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A seguir você receberá o conteúdo de um e-mail sobre uma conta ou fatura a ser paga. Extraia os seguintes Campos:\n- categoria: A categoria da despesa (ex: Igreja, educação, internet e telefone, transporte, saúde, Temporario, Moradia, alimentação, Presente.), caso não seja informada categoria usar a categoria \"Temporario\"\n- descricao: O nome principal da conta (ex: Conta de Luz Equatorial, Fatura do Cartão, Boleto da Internet). Seja o mais conciso possível.\n- valor: O valor numérico exato a ser pago, sem o 'R$'. Use virgula como separador decimal (ex: 188,77).\n- data_vencimento: A data de vencimento da conta. Procure pelo termo \"VENCIMENTO\". O formato final deve ser AAAA-MM-DD. Se nenhuma data for encontrada, retorne null.\n- resumo: Uma frase de lembrete para ser enviada por um assistente. A mensagem deve lembrar sobre a conta a pagar de forma amigável, como se fosse enviada por WhatsApp, citando a descrição, o valor e o vencimento.\n\n--- CONTEÚDO DO E-MAIL ---\nAssunto: {{ $('Gmail Trigger').item.json.headers.subject }}\nCorpo: {{ $('Gmail Trigger').item.json.text }}\n\nData de hoje (para referência):\n{{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente financeiro pessoal. Seu papel é interpretar e-mails sobre contas, faturas e boletos a pagar para extrair os dados essenciais (descrição, valor, data de vencimento) de forma estruturada, com o objetivo de registrar essa obrigação financeira em um sistema de controle.\nCaso não encontre a data de vencimento, calcule a data atual mais 7 dias e insira essa nova data como a data de vencimento. \nCaso não encontre o valor insira 20 reais.\nAlém disso, você deve gerar uma frase de confirmação no campo \"resumo\". Esta frase deve ter um tom simpático e direto, como um assistente pessoal respondendo por mensagem. O texto deve avisar que terá um evento, citando o título e a data/hora do evento. Escreva a frase em uma única linha, sem quebras de linha."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        896
      ],
      "id": "51491dfc-6f50-42ad-966b-5089d0e0797e",
      "name": "Agent_to_finance"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        688,
        336
      ],
      "id": "4e9ef4e6-9444-4408-88b9-5091dc25b3cc",
      "name": "Mark a message as read5",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        1008
      ],
      "id": "8d714aae-523a-4a2b-a030-e3fd1870692f",
      "name": "Mark a message as read6",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        1552
      ],
      "id": "8383fac2-5edc-498e-8ea8-ab682a31cad5",
      "name": "Wait",
      "webhookId": "74f6a0c2-9533-41c7-864e-510e92877c33"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4599cd91-dffe-46fc-9160-1059b548b4f7",
              "leftValue": "={{ $json.globalCount }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        1520
      ],
      "id": "2326672c-5049-479e-9fa6-10a2bf2ae347",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "\"Excesso de tentativa\""
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -752,
        1600
      ],
      "id": "17c4a4ed-e72d-4396-8be7-0ee19f4ca623",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.counter = staticData.counter ? staticData.counter + 1 : 1;\n\n// O contador global está salvo (persistente entre execuções do workflow)\n// Para visualizar: staticData.counter\nreturn [{ json: { globalCount: staticData.counter } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1520
      ],
      "id": "7564ee7c-74df-4f6a-936e-34910138f536",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Study e-mails",
        "height": 640,
        "width": 1312,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        144
      ],
      "id": "08d787a8-b718-4e4a-b5f1-1c592cff8811",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Finance e-mails",
        "height": 576,
        "width": 1312,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        816
      ],
      "id": "5bb8d650-7fde-4c32-abff-b93f3c946846",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Trash",
        "height": 256,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        1440
      ],
      "id": "78b0bb02-515a-4390-a7ce-bcb60d7f008f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## To save",
        "height": 256,
        "width": 624,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        1472
      ],
      "id": "8009d587-3879-434b-b4a9-c69c4e7c1c2d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Error with google gemini",
        "height": 304,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1104,
        1456
      ],
      "id": "7589708c-4109-475b-8d80-7c44aa790a9d",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "199485209a94fb42",
          "threadId": "199485209a94fb42",
          "labelIds": [
            "CATEGORY_PROMOTIONS",
            "UNREAD",
            "INBOX"
          ],
          "sizeEstimate": 33775,
          "headers": {
            "delivered-to": "Delivered-To: diegosousa977@gmail.com",
            "received": "Received: by 172.16.157.3 with SMTP id a0b2377bl4ybyduqousacdh0izblkpcidj6p997pvbb;\r\n        Sun, 14 Sep 2025 13:02:28 GMT",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFMeyfJxRa8MbSho2yi4MmP3l8Ygd/N093i0zck1f+go3hmjzGJ94pi+puj4wzxfRlZ1Dfa",
            "x-received": "X-Received: by 2002:a05:6214:4018:b0:70d:fea3:39d9 with SMTP id 6a1803df08f44-767c54372f0mr141262496d6.55.1757854959755;\r\n        Sun, 14 Sep 2025 06:02:39 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1757854959; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=IZFV1zmXeuXJmJ1YMnVacMBN+ZwWlJ8qQTPuhPrFHG7Bv2UiPwyT7tvMwaDIxGIoaY\r\n         yW3jZyMeQGnSzvoZEcDYkNqmFcHLYg4wAIfnIiv89VC1rb+UBlLs/2NgTh3IjP2GQUgA\r\n         NGvGDazszrxEBfidoI+w7LMtIinjul0rqaXTgjG8EKWo0iwQFJFnVoa90cM/BEzHpC0M\r\n         LtRyLa3YQdxFlEGnlMX+iwrQWLTOdRtvAeBGHe6Y/FaokoFpwtpppkB7LlIhSWeaRezO\r\n         /ehpuFlDZGi7rCGx8Kc0WOL32FBjbBEwbpRmn3I9DeVaO7C35v/MaxdwTmPZvgoON6bS\r\n         oqnQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=feedback-id:list-unsubscribe-post:precedence:form-sub:mime-version\r\n         :subject:message-id:to:reply-to:from:date:list-unsubscribe\r\n         :dkim-signature:dkim-signature;\r\n        bh=FFpsJDMER+XnP4AXlgfHDCDLdJDo5b0glpOGa7PyFhg=;\r\n        fh=T7ZyKo35lweCY6qf1Lkllbg/B7lyEyE2bPe6fxGFM08=;\r\n        b=OzBpfWxGHXn9waDg8sl3rklWiA60N8+eBKiQEU1ctLYBAU6cD+2irACTF8ufUDbbBq\r\n         LDvmIF+31RHJ41ukXwU/p7wQZYvkYa506eXVjqHme/a1Zz4f+qrDHk8VrrKfmgnGWu4I\r\n         XJTQ0BNpveV1SUMs7jq+wXpaIwFShRj7Bka1Y7cqWpqLm4rZtxtu1ityo4Po8d3VL/la\r\n         IuN1n0hzQ6L0GCqPjjqF0Pmord34lt1qoIBHtcz+oMSgbOCqEZHlQ6rvKO0tWjcV+ML/\r\n         DjlEvrqSD3rDDNSkrmMrCgWuyhrELr3PoNiwyalzM3wuGjI/H5H2ujCKueZ70WHDyqoa\r\n         Dx2Q==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@bf54x.hubspotemail.net header.s=hs2 header.b=bVY1oGW8;\r\n       dkim=pass header.i=@somostera.com header.s=hs1 header.b=\"dk/+IZmB\";\r\n       spf=pass (google.com: domain of 1axbo1sasw0y5w61pi6shxnsxnjdh3dkqx7arc-diegosousa977=gmail.com@bf54x.hubspotemail.net designates 143.244.91.106 as permitted sender) smtp.mailfrom=\"1axbo1sasw0y5w61pi6shxnsxnjdh3dkqx7arc-diegosousa977=gmail.com@bf54x.hubspotemail.net\";\r\n       dmarc=pass (p=REJECT sp=NONE dis=NONE) header.from=somostera.com",
            "return-path": "Return-Path: <1axbo1sasw0y5w61pi6shxnsxnjdh3dkqx7arc-diegosousa977=gmail.com@bf54x.hubspotemail.net>",
            "received-spf": "Received-SPF: pass (google.com: domain of 1axbo1sasw0y5w61pi6shxnsxnjdh3dkqx7arc-diegosousa977=gmail.com@bf54x.hubspotemail.net designates 143.244.91.106 as permitted sender) client-ip=143.244.91.106;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@bf54x.hubspotemail.net header.s=hs2 header.b=bVY1oGW8;\r\n       dkim=pass header.i=@somostera.com header.s=hs1 header.b=\"dk/+IZmB\";\r\n       spf=pass (google.com: domain of 1axbo1sasw0y5w61pi6shxnsxnjdh3dkqx7arc-diegosousa977=gmail.com@bf54x.hubspotemail.net designates 143.244.91.106 as permitted sender) smtp.mailfrom=\"1axbo1sasw0y5w61pi6shxnsxnjdh3dkqx7arc-diegosousa977=gmail.com@bf54x.hubspotemail.net\";\r\n       dmarc=pass (p=REJECT sp=NONE dis=NONE) header.from=somostera.com",
            "dkim-signature": "DKIM-Signature: v=1; s=hs1; d=somostera.com; i=@somostera.com; \r\n        h=sender:from:from:reply-to:to:to:cc:cc:subject:subject:list-unsubscribe:form-sub:feedback-id:list-unsubscribe-post; \r\n        a=rsa-sha256; c=relaxed/relaxed; \r\n        bh=FFpsJDMER+XnP4AXlgfHDCDLdJDo5b0glpOGa7PyFhg=; \r\n        b=dk/+IZmB5elDJsh5Ndlo2gLwY7Op9ugYs76FLp3rhHNd2X9qzjNxZYk0kZd5RP\r\n         edTHkErapzs8zKrpwASAh01f+KS3sXT5AOZd26Okg4iv8h6BeYfqlNhzewPaO00\r\n         KqFX7c+Oyz4vrEr7Yxiq0fifGHBN7zrEy4247jzVEY7oswl0cLwOPM5TXOX9fmZ\r\n         srnq01unAn9wQB33T8XVWo77fcZT05Jpa036LtSXmbe6S8X7Xh2x0RHpjwbB6c7\r\n         /T2l1B3JsQhDjX8qPyXGkr1tsxBCQYDDUZU524oVaHupvtBtTWw/FFtZc/MKxeg\r\n         UzxDL6ek81PdveXjGJSyQMKIsUPQ==; q=dns/txt; t=1757854948; \r\n        x=1758117748;",
            "x-hs-cid": "X-HS-Cid: 1axfgpkcnnugkrp2bkcotgq60cq1ne237e7550",
            "list-unsubscribe": "List-Unsubscribe: <mailto:1axcnvm1csxk25vlgj45xu09qznl4xm66c4yew-diegosousa977=gmail.com@bf54x.hubspotemail.net?subject=unsubscribe>, <https://hs.email.somostera.com/hs/subscription-preferences/v2/unsubscribe-all?data=W2nXS-N30h-RmW3df4q62xHBhjW36BBBZ1ZsxY6W2xRTN82Hy3jnW3P6DKR3VzvLgW4mJ1lw1Z5S3VW2zwH9t2vHnd_W1_p2rd4fr5x2W4rfl4N4ry9bTW1Qm4Jm3ZWpyVW30BP4j1NmKHGW3NMMW22y0pSKW24SKzk1QhSFXW4pHTmx4tDr5zW4cq4jP47L1LCW3N-RcH38CdJHW2Rv6Dj366HbJW1Qwv7N32bMcWW3XKFQq3y-q9sW3ZHPmT1VyYNpW36DcFG2zLJY9W23f7Lw4kKt1XW2p3Mzx3zfkXpW2KS76w1Bs7W9W20XpP936vBLQW1Bqn5v1Njm2JW2Tz-jP4mlhxhW3Fch6c4pyMbmW3g7rqT2t0rDWW3P1Hnn2Tx42wW2RPpGZ2CxGGdW3ghqLk49S7XrW3dcQkz4cKJKkW25mC9945wGM6W2Yt7Mm32B_k3W3VXH863gtPSMW3XKG9n4rnkPsW3jsp4f2qNPlxW2YMx4b4kwb6CW23f_bZ1BxKt-W2G0jV_47m2rcW3_BxJy2xzgpBW30FHfP3R1TGLW2TskJz3XFW0FW2vZk7P2PmNWvW4frYzB47T_LmW38kFBS2xWGHqW1Q4vTz2CHyxhW30KvWZ2zYXTbW36xFQ0255pNpf3dwK0-04>",
            "date": "Date: Sun, 14 Sep 2025 10:02:28 -0300",
            "from": "From: Tera <comunicacao@somostera.com>",
            "reply-to": "Reply-To: comunicacao@somostera.com",
            "to": "To: diegosousa977@gmail.com",
            "message-id": "Message-ID: <1757854947902.8d11d79d-3a89-4c00-9194-82f762440917@bf54x.hubspotemail.net>",
            "subject": "Subject: =?utf-8?Q?[Forma=C3=A7=C3=A3o_AI_Builders]_Pr=C3=A9-ve?=\r\n =?utf-8?Q?nda_com_63%_OFF_termina_hoje!?=",
            "mime-version": "MIME-Version: 1.0",
            "content-type": "Content-Type: multipart/alternative; \r\n\tboundary=\"----=_Part_51400_995650209.1757854948005\"",
            "form-sub": "Form-Sub: v=1; ip=none",
            "precedence": "Precedence: bulk",
            "x-report-abuse-to": "X-Report-Abuse-To: abuse@hubspot.com (see\r\n https://policy.hubspot.com/abuse-complaints)",
            "list-unsubscribe-post": "List-Unsubscribe-Post: List-Unsubscribe=One-Click",
            "feedback-id": "Feedback-ID: aeepnsy:aigkr1wo:aidf:HubSpot"
          },
          "html": "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional //EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"><html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:v=\"urn:schemas-microsoft-com:vml\" lang=\"pt\"><head>\n    <title>[Formação AI Builders] Pré-venda com 63% OFF termina hoje!</title>\n    <meta property=\"og:title\" content=\"[Formação AI Builders] Pré-venda com 63% OFF termina hoje!\">\n    <meta name=\"twitter:title\" content=\"[Formação AI Builders] Pré-venda com 63% OFF termina hoje!\">\n    \n    \n    \n<meta name=\"x-apple-disable-message-reformatting\">\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <!--[if gte mso 9]>\n  <xml>\n    <o:OfficeDocumentSettings>\n      <o:AllowPNG/>\n      <o:PixelsPerInch>96</o:PixelsPerInch>\n    </o:OfficeDocumentSettings>\n    <w:WordDocument xmlns:w=\"urn:schemas-microsoft-com:office:word\">\n      <w:DontUseAdvancedTypographyReadingMail/>\n    </w:WordDocument>\n  </xml>\n  \n  <style>\n    ul > li {\n      text-indent: -1em;\n    }\n  </style>\n<![endif]-->\n<!--[if mso]>\n<style type=\"text/css\">\n body, td {font-family: Arial, Helvetica, sans-serif;}\n .hse-body-wrapper-table {background-color: #FFFFFF;}\n</style>\n<![endif]-->\n<!--[if mso | IE]>\n  <style type=\"text/css\">\n    .hse-column-container { border: none !important; padding: 0 !important; }\n  </style>\n<![endif]-->\n    \n      \n  \n  \n  \n    \n  <meta name=\"generator\" content=\"HubSpot\"><meta property=\"og:url\" content=\"https://hs.email.somostera.com/-temporary-slug-ecca3329-a85a-4bab-985c-5320bb4a0cb0\"><meta name=\"robots\" content=\"noindex,follow\"><!--[if !((mso)|(IE))]><!-- --><style type=\"text/css\">@media only screen and (max-width:639px){img.stretch-on-mobile,.hs_rss_email_entries_table img,.hs-stretch-cta .hs-cta-img{height:auto !important;width:100% !important}\n.display_block_on_small_screens{display:block}.hs_padded{padding-left:20px !important;padding-right:20px !important}\n.hs-hm,table.hs-hm{display:none}.hs-hd{display:block !important}table.hs-hd{display:table !important}\n}@media only screen and (max-width:639px){.hse-border-m{border-left:1px solid #eaf0f6 !important;border-right:1px solid #eaf0f6 !important;box-sizing:border-box}\n.hse-border-bottom-m{border-bottom:1px solid #eaf0f6 !important}.hse-border-top-m{border-top:1px solid #eaf0f6 !important}\n.hse-border-top-hm{border-top:none !important}.hse-border-bottom-hm{border-bottom:none !important}\n}@media only screen and (max-width:639px){body,.hse-body-background{background-color:#fff !important}\n.hse-column-container{background-color:#fff !important} }.moz-text-html .hse-column-container{max-width:600px !important;width:600px !important}\n.moz-text-html .hse-column{display:table-cell;vertical-align:top}.moz-text-html .hse-section .hse-size-12{max-width:600px !important;width:600px !important}\n@media only screen and (min-width:640px){.hse-column-container{max-width:600px !important;width:600px !important}\n.hse-column{display:table-cell;vertical-align:top}.hse-section .hse-size-12{max-width:600px !important;width:600px !important}\n}@media only screen and (max-width:639px){.hse-body-wrapper-td{padding-top:0px !important}\n#section-0 .hse-column-container{padding-top:30px !important;padding-bottom:30px !important}\n#section-0 .hse-column-container{background-color:#fff !important} }@media only screen and (max-width:639px){.hse-body-wrapper-td{padding-bottom:0px !important}\n#section-8 .hse-column-container{padding-top:0px !important;padding-bottom:0px !important;background-color:transparent !important}\n#section-8 .hse-column-container{background-color:transparent !important} }</style><!--<![endif]--><style type=\"text/css\">#hs_body #hs_cos_wrapper_main a[x-apple-data-detectors]{color:inherit !important;text-decoration:none !important;font-size:inherit !important;font-family:inherit !important;font-weight:inherit !important;line-height:inherit !important}\na{text-decoration:underline}p{margin:0}body{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;moz-osx-font-smoothing:grayscale}\ntable{border-spacing:0;mso-table-lspace:0;mso-table-rspace:0}table,td{border-collapse:collapse}\nimg{-ms-interpolation-mode:bicubic}p,a,li,td,blockquote{mso-line-height-rule:exactly}\n.ShadowHTML p,.sh-modified-inline p{margin:0}</style></head>\n  <body id=\"hs_body\" bgcolor=\"#FFFFFF\" style=\"margin:0 !important; padding:0 !important; font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word\">\n    <div id=\"preview_text\" style=\"display:none;font-size:1px;color:#FFFFFF;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;\" lang=\"pt\">O cronômetro está ativo.</div>\n    \n<!--[if gte mso 9]>\n<v:background xmlns:v=\"urn:schemas-microsoft-com:vml\" fill=\"t\">\n    <v:fill type=\"tile\" size=\"100%,100%\" color=\"#ffffff\"/>\n</v:background>\n<![endif]-->\n    <div class=\"hse-body-background\" lang=\"pt\" style=\"background-color:#ffffff\" bgcolor=\"#ffffff\">\n      <table role=\"presentation\" class=\"hse-body-wrapper-table\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0; padding:0; width:100% !important; min-width:320px !important; height:100% !important\" width=\"100%\" height=\"100%\">\n        <tbody><tr>\n          <td class=\"hse-body-wrapper-td\" valign=\"top\" style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; padding-top:20px; padding-bottom:20px\">\n            <div id=\"hs_cos_wrapper_main\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_dnd_area\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"dnd_area\">  <div id=\"section-0\" class=\"hse-section hse-section-first\" style=\"padding-left:0px; padding-right:0px\">\n    \n    \n      <div class=\"hse-column-container\" style=\"min-width:280px; max-width:600px; margin:0 auto; background-color:#FFFFFF; padding-bottom:30px; padding-top:30px\" bgcolor=\"#FFFFFF\">\n    \n    <!--[if (mso)|(IE)]>\n      <table align=\"center\" style=\"width:600px;\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"600\" bgcolor=\"#FFFFFF\">\n      <tr style=\"background-color:#FFFFFF;\">\n    <![endif]-->\n    <!--[if (mso)|(IE)]>\n  <td valign=\"top\" style=\"width:600px;padding-bottom:30px; padding-top:30px;\">\n<![endif]-->\n<!--[if gte mso 9]>\n  <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px\">\n<![endif]-->\n<div id=\"column-0-0\" class=\"hse-column hse-size-12\">\n  <div id=\"hs_cos_wrapper_module_17577367199111\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"module\"><table class=\"hse-image-wrapper\" role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n  <tbody>\n    <tr>\n      <td class=\"hs_padded\" align=\"left\" valign=\"top\" style=\"font-family:Arial, sans-serif; color:#eeeeee; word-break:break-word; text-align:left; padding:10px 20px; font-size:0px\">\n        <img alt=\"\" src=\"https://hs.email.somostera.com/hs-fs/hubfs/type=compressed%2c%20color=black%20(1).png?width=100&amp;upscale=true&amp;name=type=compressed%2c%20color=black%20(1).png\" style=\"outline:none; text-decoration:none; max-width:100%; font-size:16px\" width=\"50\" align=\"middle\">\n      </td>\n    </tr>\n  </tbody>\n</table></div>\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"\" style=\"\"><tbody><tr><td class=\"hs_padded\" style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; padding:10px 20px\"><div id=\"hs_cos_wrapper_module_17532136444541\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"module\"><div id=\"hs_cos_wrapper_module_17532136444541_\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"rich_text\"><p style=\"font-size:20px; line-height:125%\"><span style=\"color: #000000;\">Estudante<span style=\"font-size: 16px;\">,</span></span></p>\n<p style=\"font-size:20px; line-height:125%\">&nbsp;</p>\n<p style=\"line-height:125%\"><span style=\"color: #000000; font-size: 16px;\"><strong>Hoje, às 23h59, a pré-venda da Formação AI Builders acaba.</strong></span></p>\n<p style=\"line-height:125%\">&nbsp;</p>\n<p style=\"line-height:125%\"><span style=\"color: #000000; font-size: 16px;\">Se você ainda está pensando, precisa saber que depois da meia-noite:</span></p>\n<p style=\"line-height:125%\">&nbsp;</p>\n<p style=\"line-height:125%\"><span style=\"color: #000000; font-size: 16px;\">❌ O desconto de 63% deixa de existir</span><br><span style=\"color: #000000; font-size: 16px;\">❌ Os 6 meses de bônus de acesso saem de linha</span><br><span style=\"color: #000000; font-size: 16px;\">❌ O preço volta ao valor cheio do lançamento oficial<br><br></span></p>\n<p style=\"line-height:125%\"><span style=\"color: #000000; font-size: 16px;\"><strong>Ou seja: essa é realmente sua última oportunidade</strong> de investir no futuro da sua carreira por menos de R$ 6 por dia, com tudo que você precisa para dominar IA:</span></p></div></div></td></tr></tbody></table>\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"\" style=\"\"><tbody><tr><td style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; padding:10px 0px\"><div id=\"hs_cos_wrapper_module_17576958068041\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"module\"><table width=\"100%\" align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate!important\">\n    <tbody><tr>\n      <td align=\"center\" valign=\"middle\" bgcolor=\"#3ee632\" style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; border-radius:4px; cursor:auto; background-color:#3ee632; mso-padding-alt:16px 40px\">\n        <a href=\"https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3lYM-W6N1vHY6lZ3kXW70kC-92Qch8jW65KKW25-6kRdW6v3kVF23RW2lW2C25ZP32Zn-lW8v3mYL7k4flxW8_2M8b5tDkVxW4RFTqx7GdB0NN1c9ptfsRlzhW79G2WD3fqX3hW7dsfKw6HK7wtW20gbDD6FYD98VywJY-7wr5tQW1sT3sb8Gh6jGW5MHMS58wM_S_S8M05Mqq42W5HnjZy8XjvWvN2KSBy8DWjNrW1Z1VGw8PhqttW3wTD8j1tkS9yW1CfgFj6C1_4wW3ZSPNR8RYmwXVQT24Z5J3kqxf7hxn4M04\" target=\"_blank\" style=\"color:#00a4bd; font-size:16px; font-family:Arial, sans-serif; Margin:0; text-transform:none; text-decoration:none; padding:16px 40px; display:block\" data-hs-link-id=\"0\" data-hs-link-id-v2=\"Yfh/RhfF\">\n          <strong style=\"color:#000000;font-weight:bold;text-decoration:none;font-style:normal;\">GARANTA SUAS CONDIÇÕES EXCLUSIVAS AQUI</strong>\n        </a>\n      </td>\n    </tr>\n  </tbody></table></div></td></tr></tbody></table>\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"\" style=\"\"><tbody><tr><td class=\"hs_padded\" style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; padding:10px 20px\"><div id=\"hs_cos_wrapper_module_17577371085433\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"module\"><table align=\"center\"><tbody><tr><td style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word\"><img src=\"https://gen.sendtric.com/countdown/qx9dqjyr5n\" style=\"outline:none; text-decoration:none; display:block; max-width:100%\"></td></tr></tbody></table></div></td></tr></tbody></table>\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"\" style=\"\"><tbody><tr><td class=\"hs_padded\" style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; padding:10px 20px\"><div id=\"hs_cos_wrapper_module_17576963056952\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"module\"><div id=\"hs_cos_wrapper_module_17576963056952_\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"rich_text\"><p style=\"line-height:125%; font-size:16px\"><span style=\"color: #000000;\"><strong>Aqui está o que você ainda pode garantir enquanto o cronômetro não estiver zerado:</strong> <br><br>✅ <strong>18 meses de acesso</strong> (12 meses do plano comum +&nbsp;6 de&nbsp;bônus) pagando uma única vez</span><br><span style=\"color: #000000;\">✅ <strong>+100 cursos e formações</strong> atualizados</span><br><span style=\"color: #000000;\">✅ <strong>Lançamentos exclusivos</strong> como n8n PRO e Lovable PRO</span><br><span style=\"color: #000000;\">✅ <strong>Certificações reconhecidas</strong> por iFood, Nubank, XP e Ambev</span><br><span style=\"color: #000000;\">✅ <strong>A Sol</strong>, nossa IA treinada para te apoiar na prática</span><br><span style=\"color: #000000;\">✅ <strong>Comunidade ativa</strong> com networking e oportunidades reais</span></p>\n<p style=\"line-height:125%; font-size:16px\">&nbsp;</p>\n<p style=\"line-height:125%; font-size:16px\"><span style=\"color: #000000;\"><strong>Tudo isso com 63% OFF, mas só até às 23h59 de hoje.</strong></span></p></div></div></td></tr></tbody></table>\n  <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" class=\"\" style=\"\"><tbody><tr><td style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; padding:10px 0px\"><div id=\"hs_cos_wrapper_module_17577370522152\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module\" style=\"color: inherit; font-size: inherit; line-height: inherit;\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"module\"><table width=\"100%\" align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate!important\">\n    <tbody><tr>\n      <td align=\"center\" valign=\"middle\" bgcolor=\"#3ee632\" style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; border-radius:4px; cursor:auto; background-color:#3ee632; mso-padding-alt:16px 40px\">\n        <a href=\"https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3lYM-W6N1vHY6lZ3l1W7wjyMC74tBsKW4B-c7w841PWtW42ScfV7d34gQW4YpHZ77288QqW21353N1lvYxqW4LBjW036WvxqVpwsL568r8_NW2w7NQY7L5S9JW2Yfb5w7tCPhlW153ld_7HDF3SW6TJ1lW2_jxZHW6kG7Bj65xQn_N2pLqmnkVrm5W7P8YlD6FLCgrW6fbdF672CPVrW4RLdY72xpJfvW90Wv6Z8_n5qQW6rf7QK7zHdflW1f-wxm2CcwrRW4L23jN11q0kTW6Sxq357XrYz9N40kJq-Jh40Jf1HmqDb04\" target=\"_blank\" style=\"color:#00a4bd; font-size:16px; font-family:Arial, sans-serif; Margin:0; text-transform:none; text-decoration:none; padding:16px 40px; display:block\" data-hs-link-id=\"1\" data-hs-link-id-v2=\"fb/Oaftq\">\n          <strong style=\"color:#000000;font-weight:bold;text-decoration:none;font-style:normal;\">GARANTA SUAS CONDIÇÕES EXCLUSIVAS AQUI</strong>\n        </a>\n      </td>\n    </tr>\n  </tbody></table></div></td></tr></tbody></table>\n</div>\n<!--[if gte mso 9]></table><![endif]-->\n<!--[if (mso)|(IE)]></td><![endif]-->\n    <!--[if (mso)|(IE)]></tr></table><![endif]-->\n    </div>\n   \n  </div>\n  <div id=\"section-8\" class=\"hse-section hse-section-last\" style=\"padding-left:0px; padding-right:0px\">\n    \n    \n      <div class=\"hse-column-container hse-no-stack-row\" style=\"min-width:280px; max-width:600px; margin:0 auto; border-collapse:separate; display:table; width:100%\">\n    \n    <!--[if (mso)|(IE)]>\n      <table align=\"center\" style=\"width:600px;\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" class=\"hse-no-stack-row\">\n      <tr>\n    <![endif]-->\n    <!--[if (mso)|(IE)]>\n  <td valign=\"middle\" style=\"width:600px;\">\n<![endif]-->\n<!--[if gte mso 9]>\n  <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px\">\n<![endif]-->\n<div id=\"column-8-0\" class=\"hse-column hse-size-12 hse-no-stack\" style=\"display:table-cell; max-width:600px; width:100%; vertical-align:middle\">\n  <div id=\"hs_cos_wrapper_module-8-0-0\" class=\"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module\" style=\"color: inherit; font-size: inherit; line-height: inherit;table-layout:fixed\" data-hs-cos-general-type=\"widget\" data-hs-cos-type=\"module\"><table role=\"presentation\" class=\"hse-footer hse-secondary\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"font-family:Arial, sans-serif; font-size:12px; line-height:135%; color:#23496d; margin-bottom:0; padding:0\">\n  <tbody>\n    <tr>\n      <td align=\"right\" valign=\"top\" style=\"font-family:Arial, sans-serif; font-size:15px; color:#eeeeee; word-break:break-word; text-align:right; margin-bottom:0; line-height:135%; padding:10px 20px\">\n        <p style=\"font-family:Arial, sans-serif;font-size:10px;font-weight:normal;text-decoration:none;font-style:normal;color:#040024\">\n          Tera Treinamentos, Rua Natingui, 862, São Paulo, SP, Brasil\n        </p>\n        <p>\n          <a data-unsubscribe=\"true\" href=\"https://hs.email.somostera.com/hs/preferences-center/pt/direct?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=380422166&amp;_hsenc=p2ANqtz-9wKSIHWYZhTsdUtusXnh7lxG-vcNqAajjnHYRN6iewBZcVd9fs-gxxiGj8N0cwaJHAPZJQTndKK9IKZFglzIhzwZ1qgw&amp;_hsmi=380422166\" style=\"font-family:Helvetica,Arial,sans-serif; font-size:10px; color:#040024; font-weight:normal; text-decoration:underline; font-style:normal\" data-hs-link-id=\"0\" data-hs-link-id-v2=\"SFRZzEXk\" target=\"_blank\">Cancelar assinatura</a>\n          <a data-unsubscribe=\"true\" href=\"https://hs.email.somostera.com/hs/preferences-center/pt/page?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=380422166&amp;_hsenc=p2ANqtz-9wKSIHWYZhTsdUtusXnh7lxG-vcNqAajjnHYRN6iewBZcVd9fs-gxxiGj8N0cwaJHAPZJQTndKK9IKZFglzIhzwZ1qgw&amp;_hsmi=380422166\" style=\"font-family:Helvetica,Arial,sans-serif; font-size:10px; color:#040024; font-weight:normal; text-decoration:underline; font-style:normal\" data-hs-link-id=\"0\" data-hs-link-id-v2=\"qjPJqCop\" target=\"_blank\">Gerenciar preferências</a>\n        </p>\n      </td>\n    </tr>\n  </tbody>\n</table></div>\n</div>\n<!--[if gte mso 9]></table><![endif]-->\n<!--[if (mso)|(IE)]></td><![endif]-->\n    <!--[if (mso)|(IE)]></tr></table><![endif]-->\n    </div>\n   \n  </div></div>\n          </td>\n        </tr>\n      </tbody></table>\n    </div>\n  \n<img src=\"https://hs.email.somostera.com/e3t/Cto/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKW2glhNZ3CL9Gr132\" alt=\"\" width=\"1\" height=\"1\" border=\"0\" style=\"display:none!important;min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important\"></body></html>",
          "text": "O cronômetro está ativo.\n\nEstudante,\n\nHoje, às 23h59, a pré-venda da Formação AI Builders acaba.\n\nSe você ainda está pensando, precisa saber que depois da meia-noite:\n\n❌ O desconto de 63% deixa de existir\n\n❌ Os 6 meses de bônus de acesso saem de linha\n\n❌ O preço volta ao valor cheio do lançamento oficial\n\nOu seja: essa é realmente sua última oportunidade de investir no futuro da sua carreira por menos de R$ 6 por dia, com tudo que você precisa para dominar IA:\n\nGARANTA SUAS CONDIÇÕES EXCLUSIVAS AQUI\n(https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3l5QzW6N1vHY6lZ3l7W4f_lx95Vb-1wW82nKhH2zQtYyW2VDrB05X-2HyV_hJZW6F3sprN2xHvf23sKCzW4S_s969fZrpyW2Zjvzm1vL5s0W5qW4Gf64RhWlW6k96-p1xfzgxW2B-kjp7HrG09W4fZjLL3KS8y0N1t34FZwTvKDW3HtvGw6XCvK9W2Nq8SW7Sm5HpN1KVWLSx57FMVGQpNM6PlKfRW24PTR9129z7TW61dHGS5xt0dDN3cl7D0__Z_VW5N-Hyy4tM0rnW5Cg7cC95zMMyW8pyqcj5pg2Bpf1dk72C04 )\n\nAqui está o que você ainda pode garantir enquanto o cronômetro não estiver zerado:\n\n✅ 18 meses de acesso (12 meses do plano comum + 6 de bônus) pagando uma única vez\n\n✅ +100 cursos e formações atualizados\n\n✅ Lançamentos exclusivos como n8n PRO e Lovable PRO\n\n✅ Certificações reconhecidas por iFood, Nubank, XP e Ambev\n\n✅ A Sol, nossa IA treinada para te apoiar na prática\n\n✅ Comunidade ativa com networking e oportunidades reais\n\nTudo isso com 63% OFF, mas só até às 23h59 de hoje.\n\nGARANTA SUAS CONDIÇÕES EXCLUSIVAS AQUI\n(https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3l5QzW6N1vHY6lZ3l7W4f_lx95Vb-1wW82nKhH2zQtYyW2VDrB05X-2HyV_hJZW6F3sprN2xHvf23sKCzW4S_s969fZrpyW2Zjvzm1vL5s0W5qW4Gf64RhWlW6k96-p1xfzgxW2B-kjp7HrG09W4fZjLL3KS8y0N1t34FZwTvKDW3HtvGw6XCvK9W2Nq8SW7Sm5HpN1KVWLSx57FMVGQpNM6PlKfRW24PTR9129z7TW61dHGS5xt0dDN3cl7D0__Z_VW5N-Hyy4tM0rnW5Cg7cC95zMMyW8pyqcj5pg2Bpf1dk72C04 )\n\nTera Treinamentos, Rua Natingui, 862, São Paulo, SP, Brasil\n\nCancelar assinatura (https://hs.email.somostera.com/hs/preferences-center/pt/direct?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&_hsenc=p2ANqtz-8Y02f-U0ohSLzV-nwaH83fztYwdQuYbd5tQ5wsW-hAPvAndi1XFFbbORdTjSb-4wISLrB1CukI0a54Q-Qjpsbhmp05uQ&_hsmi=380422166 )\nGerenciar preferências (https://hs.email.somostera.com/hs/preferences-center/pt/page?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&_hsenc=p2ANqtz-8Y02f-U0ohSLzV-nwaH83fztYwdQuYbd5tQ5wsW-hAPvAndi1XFFbbORdTjSb-4wISLrB1CukI0a54Q-Qjpsbhmp05uQ&_hsmi=380422166 )",
          "textAsHtml": "<p>O cron&ocirc;metro est&aacute; ativo.</p><p>Estudante,</p><p>Hoje, &agrave;s 23h59, a pr&eacute;-venda da Forma&ccedil;&atilde;o AI Builders acaba.</p><p>Se voc&ecirc; ainda est&aacute; pensando, precisa saber que depois da meia-noite:</p><p>&#x274C; O desconto de 63% deixa de existir</p><p>&#x274C; Os 6 meses de b&ocirc;nus de acesso saem de linha</p><p>&#x274C; O pre&ccedil;o volta ao valor cheio do lan&ccedil;amento oficial</p><p>Ou seja: essa &eacute; realmente sua &uacute;ltima oportunidade de investir no futuro da sua carreira por menos de R$ 6 por dia, com tudo que voc&ecirc; precisa para dominar IA:</p><p>GARANTA SUAS CONDI&Ccedil;&Otilde;ES EXCLUSIVAS AQUI<br/>(<a href=\"https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3l5QzW6N1vHY6lZ3l7W4f_lx95Vb-1wW82nKhH2zQtYyW2VDrB05X-2HyV_hJZW6F3sprN2xHvf23sKCzW4S_s969fZrpyW2Zjvzm1vL5s0W5qW4Gf64RhWlW6k96-p1xfzgxW2B-kjp7HrG09W4fZjLL3KS8y0N1t34FZwTvKDW3HtvGw6XCvK9W2Nq8SW7Sm5HpN1KVWLSx57FMVGQpNM6PlKfRW24PTR9129z7TW61dHGS5xt0dDN3cl7D0__Z_VW5N-Hyy4tM0rnW5Cg7cC95zMMyW8pyqcj5pg2Bpf1dk72C04\">https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3l5QzW6N1vHY6lZ3l7W4f_lx95Vb-1wW82nKhH2zQtYyW2VDrB05X-2HyV_hJZW6F3sprN2xHvf23sKCzW4S_s969fZrpyW2Zjvzm1vL5s0W5qW4Gf64RhWlW6k96-p1xfzgxW2B-kjp7HrG09W4fZjLL3KS8y0N1t34FZwTvKDW3HtvGw6XCvK9W2Nq8SW7Sm5HpN1KVWLSx57FMVGQpNM6PlKfRW24PTR9129z7TW61dHGS5xt0dDN3cl7D0__Z_VW5N-Hyy4tM0rnW5Cg7cC95zMMyW8pyqcj5pg2Bpf1dk72C04</a> )</p><p>Aqui est&aacute; o que voc&ecirc; ainda pode garantir enquanto o cron&ocirc;metro n&atilde;o estiver zerado:</p><p>&#x2705; 18 meses de acesso (12 meses do plano comum + 6 de b&ocirc;nus) pagando uma &uacute;nica vez</p><p>&#x2705; +100 cursos e forma&ccedil;&otilde;es atualizados</p><p>&#x2705; Lan&ccedil;amentos exclusivos como n8n PRO e Lovable PRO</p><p>&#x2705; Certifica&ccedil;&otilde;es reconhecidas por iFood, Nubank, XP e Ambev</p><p>&#x2705; A Sol, nossa IA treinada para te apoiar na pr&aacute;tica</p><p>&#x2705; Comunidade ativa com networking e oportunidades reais</p><p>Tudo isso com 63% OFF, mas s&oacute; at&eacute; &agrave;s 23h59 de hoje.</p><p>GARANTA SUAS CONDI&Ccedil;&Otilde;ES EXCLUSIVAS AQUI<br/>(<a href=\"https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3l5QzW6N1vHY6lZ3l7W4f_lx95Vb-1wW82nKhH2zQtYyW2VDrB05X-2HyV_hJZW6F3sprN2xHvf23sKCzW4S_s969fZrpyW2Zjvzm1vL5s0W5qW4Gf64RhWlW6k96-p1xfzgxW2B-kjp7HrG09W4fZjLL3KS8y0N1t34FZwTvKDW3HtvGw6XCvK9W2Nq8SW7Sm5HpN1KVWLSx57FMVGQpNM6PlKfRW24PTR9129z7TW61dHGS5xt0dDN3cl7D0__Z_VW5N-Hyy4tM0rnW5Cg7cC95zMMyW8pyqcj5pg2Bpf1dk72C04\">https://hs.email.somostera.com/e3t/Ctc/I6+113/cVd0s04/VWrRzQ5Md7DvV16BTl925SR_VSnzBh5CrJnKN2glj0T3l5QzW6N1vHY6lZ3l7W4f_lx95Vb-1wW82nKhH2zQtYyW2VDrB05X-2HyV_hJZW6F3sprN2xHvf23sKCzW4S_s969fZrpyW2Zjvzm1vL5s0W5qW4Gf64RhWlW6k96-p1xfzgxW2B-kjp7HrG09W4fZjLL3KS8y0N1t34FZwTvKDW3HtvGw6XCvK9W2Nq8SW7Sm5HpN1KVWLSx57FMVGQpNM6PlKfRW24PTR9129z7TW61dHGS5xt0dDN3cl7D0__Z_VW5N-Hyy4tM0rnW5Cg7cC95zMMyW8pyqcj5pg2Bpf1dk72C04</a> )</p><p>Tera Treinamentos, Rua Natingui, 862, S&atilde;o Paulo, SP, Brasil</p><p>Cancelar assinatura (<a href=\"https://hs.email.somostera.com/hs/preferences-center/pt/direct?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&_hsenc=p2ANqtz-8Y02f-U0ohSLzV-nwaH83fztYwdQuYbd5tQ5wsW-hAPvAndi1XFFbbORdTjSb-4wISLrB1CukI0a54Q-Qjpsbhmp05uQ&_hsmi=380422166\">https://hs.email.somostera.com/hs/preferences-center/pt/direct?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&_hsenc=p2ANqtz-8Y02f-U0ohSLzV-nwaH83fztYwdQuYbd5tQ5wsW-hAPvAndi1XFFbbORdTjSb-4wISLrB1CukI0a54Q-Qjpsbhmp05uQ&_hsmi=380422166</a> )<br/>Gerenciar prefer&ecirc;ncias (<a href=\"https://hs.email.somostera.com/hs/preferences-center/pt/page?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&_hsenc=p2ANqtz-8Y02f-U0ohSLzV-nwaH83fztYwdQuYbd5tQ5wsW-hAPvAndi1XFFbbORdTjSb-4wISLrB1CukI0a54Q-Qjpsbhmp05uQ&_hsmi=380422166\">https://hs.email.somostera.com/hs/preferences-center/pt/page?data=W2nXS-N30h-GcW213kST3-13SGW3_Lvrz30l3zGW22RHn01BcbDFW3z1FZj47NcL2W2zV8-l2KQv4kW34l43H3VJGgfW47P1Kb347LfZW1_cqw_47hKrQW3BMrj43SSgTGW2-kRS52WsvWCW1Vzmrg4fwdkrW49xTd343qTz_W2Rw2jk3QVYMmW3G-D6l2-JVMnW2WJsP63C6Y9TW2Mp6w-1Bhj13W34fscD2WyX8QW3VPd3H21pB67W384MpD30kfj8W2CWG722nT5DCW32BBQl41tYCCW2PCGLN3yRw3xW2HCN1m3VMZGRW2s-p4745XgjbW2y4Dcx4hJW2JW1Vfgzt3SRvW1W4pK0Tz23n74bW4mGKpd3VY1QzW4fFh5j3M7hyPW4kdc6k3jpRD3W1BnQn24rrkSCW1X0CbQ1S100lW2TtCT72HLqD0W43F4C51ZlgHFW43DcFY1L99-TW2zwC2z3GFDDqW3bqpL82MBYqDW3btr5K2x-llvW45SZ1123nZ36W2RSnqf43GndKW2p27c41S9ln2W1QBFKC2vzx0hW3STCjF2PBMcCW3LXGnK30CFPMW3yPjtf2B0hHnW2vJbN53bgw7YW1-ZJ6Y3jgnKDW1LBcWc45PyWvW3QzssJ3g1CT5W2xwsgm2z_s_r0&_hsenc=p2ANqtz-8Y02f-U0ohSLzV-nwaH83fztYwdQuYbd5tQ5wsW-hAPvAndi1XFFbbORdTjSb-4wISLrB1CukI0a54Q-Qjpsbhmp05uQ&_hsmi=380422166</a> )</p>",
          "subject": "[Formação AI Builders] Pré-venda com 63% OFF termina hoje!",
          "date": "2025-09-14T13:02:28.000Z",
          "to": {
            "value": [
              {
                "address": "diegosousa977@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:diegosousa977@gmail.com\" class=\"mp_address_email\">diegosousa977@gmail.com</a></span>",
            "text": "diegosousa977@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "comunicacao@somostera.com",
                "name": "Tera"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Tera</span> &lt;<a href=\"mailto:comunicacao@somostera.com\" class=\"mp_address_email\">comunicacao@somostera.com</a>&gt;</span>",
            "text": "\"Tera\" <comunicacao@somostera.com>"
          },
          "messageId": "<1757854947902.8d11d79d-3a89-4c00-9194-82f762440917@bf54x.hubspotemail.net>",
          "replyTo": {
            "value": [
              {
                "address": "comunicacao@somostera.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:comunicacao@somostera.com\" class=\"mp_address_email\">comunicacao@somostera.com</a></span>",
            "text": "comunicacao@somostera.com"
          }
        }
      },
      {
        "json": {
          "id": "19948516ce8302c2",
          "threadId": "19948516ce8302c2",
          "labelIds": [
            "UNREAD",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 50854,
          "headers": {
            "delivered-to": "Delivered-To: diegosousa977@gmail.com",
            "received": "Received: from cell-3-bdb674f6f-l6qqp (10.65.89.112)\r\n  by acems1.com (KumoMTA 10.13.182.96) \r\n  with ESMTP id f0ce4166916a11f093bf0ecd79d59f11 for <diegosousa977@gmail.com>;\r\n  Sun, 14 Sep 2025 13:01:34 +0000",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFqWRZjbqDVfZoBXsuWyUusf6AxNr8XBoV2ELGAw3P7WeKuUNCRL3Q62/cqnRa89ftd3vBl",
            "x-received": "X-Received: by 2002:a05:620a:404f:b0:812:ac32:affb with SMTP id af79cd13be357-823fe0a0249mr1311218785a.17.1757854919739;\r\n        Sun, 14 Sep 2025 06:01:59 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1757854919; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=KZ4kZwOU96zXdlSeHHnVS3/KK7E4UrvReCV26UoxF8C/3F/75ghrpmEVxIN2y/WdA0\r\n         tgDWj5ethtQHL/aDqdBd11XmorZVchwPboGDK5pu4wAMgojqi9TbhxfBqQADtUFqtzLO\r\n         S+ynd2LtqUjN6rErWmWiK1TIqOFGpDiB6csQr1yGr+pxlETtFCE7+KZOKYn0NNZWjJcT\r\n         yihDlViF0yuDWBwpOihWRa+31EtOZjDrFbylwn4R+C4e5x4CuzeM4vLMUVZMeKr13e73\r\n         ZjWfSga3kru2YjkU0TJQhzNyDfKzo01U1967jeRoJhoCSwcwsRFH3KL/pvz6tBiUvncg\r\n         nuLQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=feedback-id:list-unsubscribe:list-unsubscribe-post:mime-version\r\n         :subject:message-id:to:from:date:cfbl-address:dkim-signature\r\n         :dkim-signature;\r\n        bh=PCeqXrKdwp1EGGCJH+Y/sWoteArdxYCBRvy82DPJNuo=;\r\n        fh=T7ZyKo35lweCY6qf1Lkllbg/B7lyEyE2bPe6fxGFM08=;\r\n        b=HqtY0k5l8yzwGeYjOLk5+YcEDjdiv3Iud+xn0vJ0QhvsIstr5IkANr/QI6TaXq3rkP\r\n         rzkLEE1xzw8bLAHl4em+8VM0iQtIYeJ+WRRoBUG6yENRhCI1YGIv5UnvSHvSiV9qiYGc\r\n         1db9uJWw5Mlrpgty+DfNROGKuElnVXNLrFBvhMBY3iBPDsKKvzdErLk08CI1nx9U1SaM\r\n         Tpvse06Eam86/XsMnGXKdDgnxj7gR62vz1gBofWbxas+LdDM29cluCsPH38K0J6nIrQt\r\n         3l3SRNHzTc+8DRiJwP/Fq5fl4g2hBwgOZbdMEViWMmA9Fpeq4W4j2CIvf3O70nLHJKDX\r\n         jSmg==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@empowerdata.com.br header.s=acdkim1 header.b=hxf+ZKVB;\r\n       dkim=pass header.i=@acems2.com header.s=acdkim1 header.b=cIGBGFyz;\r\n       spf=pass (google.com: domain of bounce-1978045-2580-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br designates 52.128.40.127 as permitted sender) smtp.mailfrom=\"bounce-1978045-2580-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br\";\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=empowerdata.com.br",
            "return-path": "Return-Path: <bounce-1978045-2580-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br>",
            "received-spf": "Received-SPF: pass (google.com: domain of bounce-1978045-2580-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br designates 52.128.40.127 as permitted sender) client-ip=52.128.40.127;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@empowerdata.com.br header.s=acdkim1 header.b=hxf+ZKVB;\r\n       dkim=pass header.i=@acems2.com header.s=acdkim1 header.b=cIGBGFyz;\r\n       spf=pass (google.com: domain of bounce-1978045-2580-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br designates 52.128.40.127 as permitted sender) smtp.mailfrom=\"bounce-1978045-2580-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br\";\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=empowerdata.com.br",
            "x-kumoref": "X-KumoRef: eyJfQF8iOiJcXF8vIiwicmVjaXBpZW50IjoiZGllZ29zb3VzYTk3N0BnbWFpbC5jb20ifQ==",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; d=acems2.com; s=acdkim1; c=relaxed/relaxed;\r\n\tbh=PCeqXrKdwp1EGGCJH+Y/sWoteArdxYCBRvy82DPJNuo=;\r\n\th=from:to:subject:date:mime-version:content-type:sender:cc:date:message-id:\r\n\t\tlist-unsubscribe:list-unsubscribe-post; t=1757854894; x=1757941294;\r\n\tb=cIGBGFyzQGkKUluo4wTzHOmm/bvid8oLQ+b13X7ZOiSqzMnGM+YKH1SCA9AQ79t2gNrMpTzJ7\r\n\taWx7ZQ6w4X9vpQ0ucnRNhZn3cnVZVcvRva7PAajzeN7HUnHE4QYCpKImM8VltppMO8K2qO0RE8w\r\n\tm9AIO5xs6uoR/4Tp13s1CO9pNqLwjbMLpqp6vTYvdX8GAVhSWlawHLEYsZgqFr9cVpmswTWSmbQ\r\n\t5YWgOVHp9z9xogvNbXJKH/2IuzuJoJuzpMChKk7BM/T1Q1Pe7qjQJaEZH+f3ENBE4QRCFT5RbKd\r\n\tHINqMhgCgoQVw3pzxAtJHlikaatQQkU/pm7ix3DtaFZQ==;",
            "cfbl-address": "CFBL-Address: fbl-report@acems1.com; report=arf",
            "x-mailer": "X-Mailer: ActiveCampaign Mailer",
            "date": "Date: Sun, 14 Sep 2025 13:01:34 +0000 (GMT)",
            "from": "From: Lorennzoda Daxus <comunicacao@empowerdata.com.br>",
            "to": "To: diegosousa977@gmail.com",
            "message-id": "Message-ID: <270381044.6183108.1757854894060@cell-3-bdb674f6f-l6qqp>",
            "subject": "Subject: Torne-se um Expert em IA",
            "mime-version": "MIME-Version: 1.0",
            "content-type": "Content-Type: multipart/alternative; \r\n\tboundary=\"----=_Part_6183107_959534685.1757854894060\"",
            "x-dkim-options": "X-DKIM-Options: s=acdkim1",
            "list-unsubscribe-post": "List-Unsubscribe-Post: List-Unsubscribe=One-Click",
            "x-virtual-mta": "X-Virtual-Mta: s6.csa1.acemsc2.com",
            "x-250ok-cid": "X-250ok-CID: 1978045-2580",
            "list-unsubscribe": "List-Unsubscribe: <https://salesmelodata.activehosted.com/box.php?nl=236&c=2580&m=3055&s=46272334bf17d65015df27858ab67e34&funcml=unsub2&luha=1>,<mailto:unsubscribe-9a7b04eb13e8640c632f343c61612750-2580-46272334bf17d65015df27858ab67e34@s6.csa1.acemsd3.com>",
            "feedback-id": "Feedback-ID: 1978045:activecampaign",
            "x-sending-engine": "X-Sending-Engine: Hedwig PCS",
            "x-report-abuse": "X-Report-Abuse: Please report abuse to abuse@activecampaign.com",
            "x-mid": "X-mid: ZGllZ29zb3VzYTk3N0BnbWFpbC5jb20gLCBjMjU4MCAsIG0zMDU1ICwgczcxNzc5NQ=="
          },
          "html": "<!DOCTYPE html><html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<meta http-equiv=\"Content-Language\" content=\"pt-br\">\n<meta name=\"format-detection\" content=\"telephone=no\">\n<meta name=\"format-detection\" content=\"date=no\">\n<meta name=\"format-detection\" content=\"address=no\">\n<meta name=\"format-detection\" content=\"email=no\">\n<meta name=\"viewport\" content=\"width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<title></title>\n<style data-ac-keep=\"true\"> .ExternalClass { width: 100%; background: inherit; background-color: inherit; } .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; } .ExternalClass p, .ExternalClass ul, .ExternalClass ol { Margin: 0; } .undoreset div p, .undoreset p { margin-bottom: 20px; } div[class^=\"aolmail_divbody\"] { overflow: auto; } [owa] #ac-footer { padding: 20px 0px !important; background: inherit; background-color: inherit; } a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; } @-ms-viewport { width: device-width; } </style>\n<style data-ac-keep=\"true\">\n@media only screen and (max-width: 600px) { /*-------------------------------------------------------------------------*\\ Abandoned Cart widget \\*------------------------------------------------------------------------*/ .td_abandoned-cart img {display: block;padding-right: 0 !important;padding-bottom: 0 !important;width: 100% !important;max-width: 100% !important;height: auto !important;} body { padding: 0!important; font-size:1em!important; } * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } *[class].divbody {-webkit-text-size-adjust:none !important;} *[class].td_picture img {width:auto !important;} *[class].td_text { line-height: 110%; } *[class].td_button { width: auto; } /* Collapse all block elements */ :not(.body) table { display: block!important; float:none!important; border-collapse:collapse !important; width:100% !important; min-width:100% !important; clear:both!important; } :not(.body) thead, :not(.body) tbody, :not(.body) tr { display:block!important; float:none!important; width:100% !important; } :not(.body) th, :not(.body) td, :not(.body) p { display:block!important; float:none!important; width:100% !important; clear:both!important; } /* Remove browser default styling for elements */ ul, ol { margin-left: 20px; margin-bottom: 10px; margin-top: 10px; -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-padding-start: 0; } /* Set default height for spacer once collapse */ *[class].spacer { height: auto!important; } a[href^=date]{ color:inherit !important; text-decoration:none !important;} a[href^=telephone]{ color:inherit !important; text-decoration:none !important;} a[href^=address]{ color:inherit !important; text-decoration:none !important;} a[href^=email]{ color:inherit !important; text-decoration:none !important;} /* Default table cell height */ td[height=\"14\"]{height:14px!important;font-size:14px!important;line-height:14px!important;} /*-------------------------------------------------------------------------*\\ Product Widget \\*-------------------------------------------------------------------------*/ .td_product div, .td_product .products-display { float: none !important; display: block !important; width: 100% !important; Margin-bottom: 20px !important; } .td_product img { width: 100% !important; max-width: 100% !important; } /* Default social icons */ *[class].ac-social-icon-16 {width:16px !important; height:16px !important;} *[class].ac-social-icon-24 {width:24px !important; height:24px !important;} *[class].ac-social-icon-28 {width:28px !important; height:28px !important;} *[class].__ac_social_icons { margin-right: 0px !important; } }\n</style>\n<style data-ac-keep=\"true\"> @media only screen and (max-width: 320px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n}\n@media only screen and (max-width: 375px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n}\n@media only screen and (max-width: 414px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n}\n@media only screen and (max-width: 667px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n} </style><!--[if !mso]><!-- webfonts -->\n<link href=\"https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;family=Roboto:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;display=swap\" rel=\"stylesheet\"><!--<![endif]--> <!--[if lt mso 12]> <link href=\"https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap\" rel=\"stylesheet\"><![endif]--> <!--[if gte mso 9]>\n<xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings>\n</xml>\n<![endif]-->\n</head>\n<body id=\"ac-designer\" class=\"body\" style=\"font-family: Arial; line-height: 1.1; margin: 0px; background-color: #FFFFFF; width: 100%; text-align: center;\">\n<div style=\"display: none !important; padding: 0; height: 1px; font-size: 1px; background-color: inherit !important; opacity: 0; color: transparent; mso-line-height-rule: exactly; line-height:1px; mso-hide:all;\">\nComece seus estudos ainda hoje. \n<div style=\"display: none; max-height: 0px; overflow: hidden;\">\n&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌\n</div>\n</div>\n<div class=\"divbody\" style=\"margin: 0px; outline: none; padding: 0px; color: #000000; font-family: arial; line-height: 1.1; width: 100%; background-color: #FFFFFF; background: #FFFFFF; text-align: center;\">\n<table class=\"template-table\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" align=\"left\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: auto; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; background: #FFFFFF;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td align=\"center\" valign=\"top\" width=\"100%\" style=\"mso-line-height-rule: exactly;\">\n<table class=\"template-table\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"650\" bgcolor=\"#FFFFFF\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: auto; mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 650px;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout_table_651db45e4d93452bd37a94a970ce28e89325c53d\" valign=\"top\" align=\"center\" width=\"650\" style=\"mso-line-height-rule: exactly;\">\n<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"layout layout-table root-table\" width=\"650\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10611\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10611\" class=\"layout layout-row widget _widget_text style10611\" style=\"mso-line-height-rule: exactly; margin: 0; padding: 0;\">\n<td id=\"layout-row-padding10611\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"text_div10572\" class=\"td_text td_block\" valign=\"top\" align=\"left\" width=\"650\" style=\"line-height: 140%; mso-line-height-rule: exactly; margin: 0; outline: none; padding: 0; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: arial;\">\n<div style=\"line-height: 140%; margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: 1.4; text-decoration: inherit; mso-line-height-rule: exactly;\" data-line-height=\"1.4\">\n<div class=\"droparea\" contenteditable=\"false\" style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"></div>\n<div style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<div style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<div style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\" class=\"\">\n<div class=\"\" style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<div style=\"margin: 0 0cm 0 0cm; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"></div><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><span style=\"color: inherit; font-size: 16px; font-weight: inherit; line-height: inherit; text-decoration: inherit;\" class=\"\"> </span>\n<div style=\"margin: 0 0cm 0 0cm; outline: none; padding: 0; color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; text-align: inherit;\">Diego,</span>\n</div><span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> <span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"> </span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">A melhor decisão que você pode fazer pela sua carreira é investir no seu crescimento profissional. A boa notícia é que <b style=\"margin: 0; outline: none; padding: 0;\">você pode começar seus estudos ainda hoje</b>! </span><br></span><span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"><br></span>\n<div style=\"margin: 0 0 0 70.8pt; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<b style=\"margin: 0; outline: none; padding: 0;\"></b>\n</div></span>\n<div style=\"margin: 0 0cm 0 0cm; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"></div><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal; --tw-shadow: 0 0 transparent; --tw-ring-inset: var(--tw-empty, ); --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(59,130,246,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent;\" class=\"\">\n<div style=\"margin: 0 0cm 0 0cm; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"></div></span>\n</div>\n</div>\n</div>\n</div>\n</div><!--[if (gte mso 12)&(lte mso 15) ]>\n<style data-ac-keep=\"true\" data-ac-inline=\"false\"> #text_div10572, #text_div10572 div { line-height: 140% !important; };\n</style>\n<![endif]--></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10612\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10612\" class=\"layout layout-row widget _widget_button style10612\" style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-padding10612\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td class=\"td_button td_block customizable\" valign=\"top\" align=\"left\" width=\"650\" style=\"mso-line-height-rule: exactly;\">\n<div class=\"button-wrapper\" style=\"margin: 0; outline: none; padding: 0; text-align: left;\">\n<!--[if mso]> <v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJw3Hzzit9zkvYxXncWInCZ6XV\" style=\"v-text-anchor:middle; width:414px; height:59px; font-weight: bold;\" arcsize=\"6%\" strokecolor=\"#B5B5B5\" strokeweight=\"1pt\" fillcolor=\"#23a6c0\" o:button=\"true\" o:allowincell=\"true\" o:allowoverlap=\"false\" > <v:textbox inset=\"2px,2px,2px,2px\"> <center style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size:14px; font-weight: bold;line-height: 1.1;\">Quero me tornar um Expert em Inteligência\nArtificial</center> </v:textbox> </v:roundrect>\n<![endif]--> <a href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJw3Hzzit9zkvYxXncWInCZ6XV\" style=\"margin: 0; outline: none; padding: 12px; color: #ffffff; background: #23a6c0; background-color: #23a6c0; border: 1px solid #B5B5B5; border-radius: 3px; font-family: Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size: 14px; display: inline-block; line-height: 1.1; text-align: center; text-decoration: none; mso-hide: all;\"> <span style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif;font-size:14px;font-weight: bold;\"> Quero me tornar um Expert em Inteligência Artificial </span> </a>\n</div></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10613\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10613\" class=\"layout layout-row widget _widget_text style10613\" style=\"mso-line-height-rule: exactly; margin: 0; padding: 0;\">\n<td id=\"layout-row-padding10613\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"text_div10574\" class=\"td_text td_block\" valign=\"top\" align=\"left\" width=\"650\" style=\"line-height: 140%; mso-line-height-rule: exactly; margin: 0; outline: none; padding: 0; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: arial;\">\n<div style=\"line-height: 140%; margin: 0; outline: none; padding: 0; color: inherit; font-size: 14px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; mso-line-height-rule: exactly;\" data-line-height=\"1.4\">\n<div style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\">\n<div style=\"margin: 0 0px 0 0px; outline: none; padding: 0; color: #000000; font-size: inherit; font-weight: 400; line-height: inherit; text-decoration: inherit; font-style: normal; text-align: start;\"></div><span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit;\" class=\"\"> <br>\n<div style=\"margin: 0 0cm 0 0cm; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"></div>\n<div style=\"margin: 0 0cm 0 0cm; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"></div><b style=\"margin: 0; outline: none; padding: 0;\"></b> <b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Veja tudo o que você vai receber ao se inscrever nesta turma:<br></span></b><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; mso-list: Ignore;\"> <span style=\"color: #000000; font-size: 15px; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal;\">✅</span> </span><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Formação Expert em Inteligência Artificial, </span></b><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">incluindo o Daxus IA — nossa ferramenta com a inteligência do ChatGPT Plus — para te auxiliar nos estudos e no seu desenvolvimento profissional.<br></span><br><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; mso-list: Ignore;\"> <span style=\"color: #000000; font-size: 15px; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal;\">✅ </span></span><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Catálogo de ferramentas de IA </span></b><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">com tutoriais rápidos mostrando na prática como aplicá-las.<br></span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; mso-list: Ignore;\"> <span style=\"color: #000000; font-size: 15px; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal;\">✅</span> </span><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Plataforma da Daxus</span></b><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"> com mais de 50 cursos focados em análise de dados, programação, habilidades comportamentais e desenvolvimento de carreira.<br></span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; mso-list: Ignore;\"> <span style=\"color: #000000; font-size: 15px; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal;\">✅</span> </span><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Certificados reconhecidos pelo MEC</span></b><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"> para todas as formações completas.<br></span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; mso-list: Ignore;\"> <span style=\"color: #000000; font-size: 15px; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal;\">✅</span> </span><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Suporte com especialistas </span></b><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">do mercado para tirar <br></span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; mso-list: Ignore;\"> <span style=\"color: #000000; font-size: 15px; font-weight: 400; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal;\">✅</span> </span><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Atualizações constantes</span></b><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"> dos cursos.<br></span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">Essa é a oportunidade perfeita para impulsionar sua carreira.</span><br><i style=\"margin: 0; outline: none; padding: 0; color: #000000;\"><b style=\"margin: 0; outline: none; padding: 0;\"></b></i><br>\n<div style=\"margin: 0 0cm 0 0cm; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\"></div></span></span>\n</div>\n</div><!--[if (gte mso 12)&(lte mso 15) ]>\n<style data-ac-keep=\"true\" data-ac-inline=\"false\"> #text_div10574, #text_div10574 div { line-height: 140% !important; };\n</style>\n<![endif]--></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10614\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10614\" class=\"layout layout-row widget _widget_button style10614\" style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-padding10614\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td class=\"td_button td_block customizable\" valign=\"top\" align=\"left\" width=\"650\" style=\"mso-line-height-rule: exactly;\">\n<div class=\"button-wrapper\" style=\"margin: 0; outline: none; padding: 0; text-align: left;\">\n<!--[if mso]> <v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJw3Hzzit9zkvYxXncWInCZ6XV\" style=\"v-text-anchor:middle; width:282px; height:59px; font-weight: bold;\" arcsize=\"6%\" strokecolor=\"#B5B5B5\" strokeweight=\"1pt\" fillcolor=\"#23a6c0\" o:button=\"true\" o:allowincell=\"true\" o:allowoverlap=\"false\" > <v:textbox inset=\"2px,2px,2px,2px\"> <center style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size:14px; font-weight: bold;line-height: 1.1;\">Quero me tornar um Expert em IA</center> </v:textbox> </v:roundrect>\n<![endif]--> <a href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJw3Hzzit9zkvYxXncWInCZ6XV\" style=\"margin: 0; outline: none; padding: 12px; color: #ffffff; background: #23a6c0; background-color: #23a6c0; border: 1px solid #B5B5B5; border-radius: 3px; font-family: Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size: 14px; display: inline-block; line-height: 1.1; text-align: center; text-decoration: none; mso-hide: all;\"> <span style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif;font-size:14px;font-weight: bold;\"> Quero me tornar um Expert em IA </span> </a>\n</div></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10615\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10615\" class=\"layout layout-row widget _widget_text style10615\" style=\"mso-line-height-rule: exactly; margin: 0; padding: 0;\">\n<td id=\"layout-row-padding10615\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"text_div10576\" class=\"td_text td_block\" valign=\"top\" align=\"left\" width=\"650\" style=\"line-height: 140%; mso-line-height-rule: exactly; margin: 0; outline: none; padding: 0; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: arial;\">\n<div style=\"line-height: 140%; margin: 0; outline: none; padding: 0; color: inherit; font-size: 14px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; mso-line-height-rule: exactly;\" data-line-height=\"1.4\">\n<div style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\">\n<div style=\"margin: 0 0px 0 0px; outline: none; padding: 0; color: #000000; font-size: inherit; font-weight: 400; line-height: inherit; text-decoration: inherit; font-style: normal; text-align: start;\"></div><span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit;\" class=\"\"><span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"><br><span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"> <span style=\"color: #000000; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> <span style=\"color: #000000; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Um forte abraço,</span> </span> </span> <br></span> <span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"> <b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> </span></b><br><span style=\"color: inherit; font-size: 14px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><span style=\"color: inherit; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: inherit;\" class=\"\"> </span> <span style=\"color: #000000; font-size: 14px; font-weight: bold; line-height: inherit; text-decoration: inherit; --tw-shadow: 0 0 transparent; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(59,130,246,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: normal;\">Lorennzo Rodrigues</span><br style=\"\"><span style=\"color: #000000; font-size: 14px; font-weight: 400; line-height: inherit; text-decoration: inherit; --tw-shadow: 0 0 transparent; --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(59,130,246,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: italic;\">Especialista em Business Intelligence e IA</span> <i style=\"margin: 0; outline: none; padding: 0;\"></i></span></span><br></span></span>\n</div>\n</div><!--[if (gte mso 12)&(lte mso 15) ]>\n<style data-ac-keep=\"true\" data-ac-inline=\"false\"> #text_div10576, #text_div10576 div { line-height: 140% !important; };\n</style>\n<![endif]--></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n</div>\n<br>\n<div id=\"ac-footer\" style=\"clear:both;background-color:inherit;background:inherit;min-width:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding:20px;color:#000000;font-size:11px;font-family:arial,helvetica,sans-serif;line-height:140%;line-height:1.4;text-align:center;box-sizing:border-box;\">\n<center>\nEnviado para:<span style=\"font-size:11px;font-family:arial,helvetica,sans-serif;font-weight:normal;text-decoration:none;outline:none;\">diegosousa977@gmail.com</span>\n<br>\n<br><a href=\"http://salesmelodata.activehosted.com/proc.php?c=2580&m=3055&s=46272334bf17d65015df27858ab67e34&d=717795&v=2&nl=236&act=unsub\" style=\"font-size:11px;font-family:arial,helvetica,sans-serif;font-weight:bold;text-decoration:underline;\"><span style=\"font-weight:bold;text-decoration:underline;\">Cancelar a inscrição</span></a>\n<br>\n<br>\nSales Melo, Av Nossa Senhora da Glória, 2975, Macaé - RJ, 27920-360, Brasil\n</center>\n</div>\n<br>\n<img src=\"https://salesmelodata.acemlnb.com/lt.php?x=41Zi05LIKXEKHhVpz_DHVuJu13BSvd~1wes0X5HIVaab6XR-0Ay5Veeg13CRxEMtzhptzK55IFCe6.83~E5HUuZ\" border=\"0\" width=\"1\" height=\"1\" style=\"display:block;width:1px!important;min-width:1px!important;max-width:1px!important;height:1px!important;border:0;overflow:hidden;\"/>\n</body>\n</html>",
          "text": "Comece seus estudos ainda hoje. Diego,\n\nA melhor decisão que você pode fazer pela sua carreira é investir no seu crescimento profissional. A boa notícia é que \n\n**você pode começar seus estudos ainda hoje**! \n\nQuero me tornar um Expert em InteligênciaArtificial https://www.daxus.com.br/formacao-ia?utm_source=email-08 \n\nVeja tudo o que você vai receber ao se inscrever nesta turma:\n\n✅ Formação Expert em Inteligência Artificial, incluindo o Daxus IA — nossa ferramenta com a inteligência do ChatGPT Plus — para te auxiliar nos estudos e no seu desenvolvimento profissional.\n\n✅ Catálogo de ferramentas de IA com tutoriais rápidos mostrando na prática como aplicá-las.\n\n✅ Plataforma da Daxus com mais de 50 cursos focados em análise de dados, programação, habilidades comportamentais e desenvolvimento de carreira.\n\n✅ Certificados reconhecidos pelo MEC para todas as formações completas.\n\n✅ Suporte com especialistas do mercado para tirar \n\n✅ Atualizações constantes dos cursos.\n\nEssa é a oportunidade perfeita para impulsionar sua carreira.\n\nQuero me tornar um Expert em IA https://www.daxus.com.br/formacao-ia?utm_source=email-08 \n\nUm forte abraço,   \n\nLorennzo Rodrigues\nEspecialista em Business Intelligence e IA\n_________________\n\nEnviado para: diegosousa977@gmail.com\n\nCancelar a inscrição:\nhttp://salesmelodata.activehosted.com/proc.php?c=2580&m=3055&s=46272334bf17d65015df27858ab67e34&d=717795&v=2&nl=236&act=unsub\n\nSales Melo, Av Nossa Senhora da Glória, 2975, Macaé - RJ, 27920-360, Brasil",
          "textAsHtml": "<p>Comece seus estudos ainda hoje. Diego,</p><p>A melhor decis&atilde;o que voc&ecirc; pode fazer pela sua carreira &eacute; investir no seu crescimento profissional. A boa not&iacute;cia &eacute; que</p><p>**voc&ecirc; pode come&ccedil;ar seus estudos ainda hoje**!</p><p>Quero me tornar um Expert em Intelig&ecirc;nciaArtificial <a href=\"https://www.daxus.com.br/formacao-ia?utm_source=email-08\">https://www.daxus.com.br/formacao-ia?utm_source=email-08</a></p><p>Veja tudo o que voc&ecirc; vai receber ao se inscrever nesta turma:</p><p>&#x2705; Forma&ccedil;&atilde;o Expert em Intelig&ecirc;ncia Artificial, incluindo o Daxus IA &mdash; nossa ferramenta com a intelig&ecirc;ncia do ChatGPT Plus &mdash; para te auxiliar nos estudos e no seu desenvolvimento profissional.</p><p>&#x2705; Cat&aacute;logo de ferramentas de IA com tutoriais r&aacute;pidos mostrando na pr&aacute;tica como aplic&aacute;-las.</p><p>&#x2705; Plataforma da Daxus com mais de 50 cursos focados em an&aacute;lise de dados, programa&ccedil;&atilde;o, habilidades comportamentais e desenvolvimento de carreira.</p><p>&#x2705; Certificados reconhecidos pelo MEC para todas as forma&ccedil;&otilde;es completas.</p><p>&#x2705; Suporte com especialistas do mercado para tirar</p><p>&#x2705; Atualiza&ccedil;&otilde;es constantes dos cursos.</p><p>Essa &eacute; a oportunidade perfeita para impulsionar sua carreira.</p><p>Quero me tornar um Expert em IA <a href=\"https://www.daxus.com.br/formacao-ia?utm_source=email-08\">https://www.daxus.com.br/formacao-ia?utm_source=email-08</a></p><p>Um forte abra&ccedil;o,</p><p>Lorennzo Rodrigues<br/>Especialista em Business Intelligence e IA<br/>_________________</p><p>Enviado para: <a href=\"mailto:diegosousa977@gmail.com\">diegosousa977@gmail.com</a></p><p>Cancelar a inscri&ccedil;&atilde;o:<br/><a href=\"http://salesmelodata.activehosted.com/proc.php?c=2580&m=3055&s=46272334bf17d65015df27858ab67e34&d=717795&v=2&nl=236&act=unsub\">http://salesmelodata.activehosted.com/proc.php?c=2580&m=3055&s=46272334bf17d65015df27858ab67e34&d=717795&v=2&nl=236&act=unsub</a></p><p>Sales Melo, Av Nossa Senhora da Gl&oacute;ria, 2975, Maca&eacute; - RJ, 27920-360, Brasil</p>",
          "subject": "Torne-se um Expert em IA",
          "date": "2025-09-14T13:01:34.000Z",
          "to": {
            "value": [
              {
                "address": "diegosousa977@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:diegosousa977@gmail.com\" class=\"mp_address_email\">diegosousa977@gmail.com</a></span>",
            "text": "diegosousa977@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "comunicacao@empowerdata.com.br",
                "name": "Lorennzoda Daxus"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Lorennzoda Daxus</span> &lt;<a href=\"mailto:comunicacao@empowerdata.com.br\" class=\"mp_address_email\">comunicacao@empowerdata.com.br</a>&gt;</span>",
            "text": "\"Lorennzoda Daxus\" <comunicacao@empowerdata.com.br>"
          },
          "messageId": "<270381044.6183108.1757854894060@cell-3-bdb674f6f-l6qqp>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Classificador principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classificador principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Classificador de estudos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message3": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Mark a message as read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classificador de finanças",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Classificador de finanças",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Classificador de estudos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classificador principal": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador de finanças": {
      "main": [
        [
          {
            "node": "Agent_to_finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador de estudos": {
      "main": [
        [
          {
            "node": "Agent_to_insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent_to_insert",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_to_insert",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent_to_insert": {
      "main": [
        [
          {
            "node": "Create an event1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Agent_to_finance",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_to_finance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent_to_finance": {
      "main": [
        [
          {
            "node": "Mark a message as read6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an event2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Classificador principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "errorWorkflow": "pg8ALIIg5c67G45X",
    "timeSavedPerExecution": 3
  },
  "versionId": "74265ede-cd30-4a9c-aa05-f646f46255bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "zlCknoaUDC9BJWJf",
  "tags": []
}